@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;500;600;700;900&display=swap');
*{
font-family: 'Poppins', sans-serif;
margin: 0;
padding: 0;
box-sizing: border-box;
scroll-behavior: smooth;

 }
 header{
     background-color: rgb(28, 146, 28);
     width: 100%;
     
     position: fixed;
     z-index: 1000;
     display: flex;
     justify-content: space-between;
     align-items: center;
     padding:0px 130px;
     
 }
.logo{
    text-decoration: none;
    color:aliceblue;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 1.8em;
    
}
.logo:hover{
    color: black;
}
.navg a{
    text-decoration: none;
    color:aliceblue;
    text-transform: uppercase;
    font-weight: 300;
    font-size: 1.1em;
    padding-left: 20px;
}
.navg a:hover{
    color: black;
}
section{
    padding: 100px 200px;
}
.sc1{
    float: left;
    width: 100%;
    min-height:100vh;
    display: flex;
    align-items: center;    
 background: url(ksa.png) no-repeat;
 background-size: cover;
background-attachment: fixed;
color: aliceblue;
 
}
.sc1 h1,h2,h3,h4,h5{
  color: rgb(28, 146, 28);  
font-weight: 600;
}
.ac1-bin{
    background-color:rgb(28, 146, 28) ;
  font-size: 1.1em; 
  color: aliceblue;
  text-decoration: none;
  padding: 10px 60px;
  display: inline-block;
  border-radius: 10px;
  font-weight:500 ;
  margin-bottom: 30px;
  margin-top: 50px;
  transition: 0.3s ease;
}
.ac1-bin:hover{
    background-color: aliceblue;
    color: black;
    transform: scale(1.1);
}
.soc a{
color: aliceblue;
font-size: 2em;
padding-right: 30px;

}
.screen{
    display: inline-block;
    height: 100vh;
    width: 100%;
    background-color: #fff;
  
}
.screen1{

    height: 100vh;
    width: 100%;
    background-color: azure;
  
}

.title{
    
    color: black;
   

}


table{
    color: black;
    text-align: center;
}
td{
    font-size: 1.1em;
    font-weight:700 ;
}
.title{
    display: flex;
    justify-content:center ;
}
.project{
    height: 100vh;
    width: 100%;
    background-color: aliceblue;
}
#tit{
 
    color: rgb(28, 146, 28);
    font-size: 2em;
    margin-bottom: 80px;
    
}
.dirc{
    display: flex;
    justify-content: center;
    flex-direction: row;
}
.dirc a{
    text-decoration: none;
    color:black;
}
.icon{
    justify-content: center;
   align-items: center;
    font-size: 5em;
    margin-bottom: 10px;
}
.pa{
    margin-right: 50px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
padding: 5px;
text-align: center;
box-shadow: 0 3px 20px rgb(16, 30, 16);
transition: 0.3s ease;
}

.soc a:hover{
    color: rgb(28, 146, 28);
}
.pa:hover{
    background-color: aliceblue;
    color: black;
 
    transform: scale(1.1);
}

